@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --color-primary-green: #3b583e;
  --color-secondary-green: #263927;
  --color-dark: #000000;
  --color-orange: #d96200;

  --color-text-light: #ffffff;
  --color-text-dark: #000000;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
}
html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--color-text-dark);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: "Lora", sans-serif;
  color: var(--color-primary-green);
  margin-bottom: var(--space-m);
}

@media (max-width: 992px) {
  html {
    scroll-padding-top: 60px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.reveal-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.slide-up-active {
  animation: slideUp 2s ease-out forwards;
}
.slide-in-left-active {
  animation: slideInLeft 2s ease-out forwards;
}
.slide-in-right-active {
  animation: slideInRight 2s ease-out forwards;
}
.fade-in-active {
  animation: fadeIn 2s ease-out forwards;
  transform: translateY(0) !important;
}
