.gallery-section {
  padding: var(--space-xl);
  background-color: var(--color-text-light);
}
.gallery-section .centered-headline {
  margin-bottom: var(--space-xl);
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-s);
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0 var(--space-m);
}
.gallery-item {
  overflow: hidden;
}
.gallery-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
}
.gallery-image:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-m);
  }
}
@media (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .gallery-image {
    aspect-ratio: 16 / 9;
  }
}
