.menu-toggle,
.mobile-menu {
  display: none;
}
.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.navbar-content {
  margin: 0 auto;
  padding: var(--space-s) var(--space-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img {
  height: 100px;
  width: auto;
  vertical-align: middle;
}
.navbar-certifications {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
}
.navbar-certifications span {
  line-height: 1;
}
.navbar-certifications img {
  height: 100px;
  width: auto;
}
.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space-l);
  margin: 0;
  padding: 0;
}
.navbar-links a {
  color: var(--color-text-dark);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  padding: var(--space-s) 0;
  transition: color 0.3 ease;
}
.navbar-links a:hover {
  color: var(--color-orange);
}

@media (max-width: 1024px) {
  .navbar-content {
    padding: 10px var(--space-m);
  }
  .navbar-links,
  .navbar-certifications {
    display: none;
  }
  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    z-index: 1001;
    line-height: 1;
    color: var(--color-orange);
  }
  .navbar-logo img {
    height: 75px;
    vertical-align: middle;
  }
  .mobile-menu {
    position: fixed;
    top: 85px;
    height: calc(100vh - 60px);
    right: 0;
    width: 100%;
    height: 18.5%;
    background-color: var(--color-orange);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: var(--space-xl) var(--space-m);
    overflow-y: auto;
  }
  .mobile-menu.active {
    display: block;
    transform: translateX(0);
  }
  .mobile-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-xs);
  }
  .mobile-menu-links a {
    color: var(--color-text-light);
    font-size: 1.5rem;
    padding: var(--space-xs);
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
