.centered-headline {
  text-align: center;
  margin-bottom: var(--space-s);
}
.service-area-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: var(--space-xl);
  gap: 6px 10px;
}
.service-area-list span {
  font-size: 1.3rem;
  color: var(--color-orange);
  font-weight: 600;
  margin: 0 var(--space-s);
  white-space: nowrap;
}
.service-card {
  display: flex;
  margin-bottom: var(--space-xl);
  min-height: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  /* opacity: 0; */
  transition: box-shadow 0.3s ease;
  /* animation: slideUp 0.8s ease-out forwards; */
}
/* .service-card:nth-child(odd) {
  animation: slideInLeft 0.8s ease-out forwards;
}
.service-card:nth-child(even) {
  animation: slideInRight 0.8s ease-out forwards;
} */
.service-card:hover {
  box-shadow: 0 8px 15px var(--color-orange);
}
.service-image {
  flex: 1.5;
  background-size: cover;
  background-position: center;
  min-width: 0;
}
.service-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-green);
  padding: var(--space-l);
  color: var(--color-text-light);
}
.service-icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: var(--color-text-light);
  border-radius: var(--space-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-m);
}
.service-icon {
  font-size: 2.2rem;
}
.service-title {
  font-size: 1.8rem;
  color: var(--color-orange);
  margin-bottom: var(--space-s);
  line-height: 1.2;
}
.service-description {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
    min-height: auto;
  }
  .service-image {
    min-height: 200px;
    flex: auto;
  }
  .service-area-list {
    margin-bottom: var(--space-l);
  }
  .service-area-list span {
    font-size: 1rem;
    margin: 0 var(--space-xs) var(--space-xs);
    line-height: 1.5;
  }
}

@media (max-width: 425px) {
  .service-area-list span {
    font-size: 0.95rem;
    margin: 0 var(--space-xs) var(--space-xs);
    white-space: normal !important;
    display: inline-flex;
    align-items: center;
  }
  .service-area-list {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
}
